* {
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #353b48;
}

#game-canvas {
    /* background-color: red; */
    position: relative;
    width: 80%;
    height: 70%;
    top: 15%;
    left: 10%;
}

* {
    pointer-events: all;
}

text {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.untouchable {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}